<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle!</title>
    <link href="/static/boggle.css" rel="stylesheet">
</head>
<body>
    <table>
        <tbody id="board">
            {% for arr in letters%}
            <tr>
                {% for char in arr %}
                <td>{{char}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>High Score: <span id="highscore">{{highscore}}</span> in <span id="plays">{{plays}}</span> plays</p>

    <p>Score: <span id="score">0</span> </p>

    <p>Seconds Left: <span id="seconds">60</span> </p>

    <form action="/check_word" method="POST">
        <input type="text" name="word" placeholder="Enter Word" required>
        <button>Guess!</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="http://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/boggle.js"></script>
</body>
</html>
